v17/
x64/
main/x64
.vs/CMakeWorkspaceSettings.json
.vs/ProjectEvaluation/rockthestick.metadata.v5.2
.vs/ProjectEvaluation/rockthestick.projects.v5.2
.vs/ProjectSettings.json
.vs/Rockthestick/DesignTimeBuild/.dtbcache.v2
.vs/Rockthestick/FileContentIndex/056c80c9-c8ab-45ab-af8e-b9cbfbf685b6.vsidx
.vs/Rockthestick/FileContentIndex/1269d280-07d0-49da-889b-eeaa762b5394.vsidx
.vs/Rockthestick/FileContentIndex/65863a9e-2245-43a4-a249-b89ce0bef074.vsidx
.vs/Rockthestick/FileContentIndex/ab68f190-6770-4e92-a126-0e182090ec4f.vsidx
.vs/Rockthestick/FileContentIndex/read.lock
.vs/Rockthestick/config/applicationhost.config
.vs/Rockthestick/v17/.wsuo
.vs/Rockthestick/v17/Browse.VC.db
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/tasks.vs.json
/.vs/Rockthestick/FileContentIndex/22bd579f-f701-4353-80de-e42a6e9f4e3e.vsidx
/.vs/Rockthestick/FileContentIndex
/.vs/Rockthestick/v17/Browse.VC.db
/Main/x64/Debug/qmake/temp/qtvars.log
/Main/x64/Debug/qmake/temp/qtvars.vcxproj
/Main/x64/Debug/qmake/temp/qtvars_x64_Debug.props
/Main/x64/Debug/qmake/qtvars_x64_Debug.props
/Menu/obj/Debug/net6.0-windows
/Menu/bin/Debug/net6.0-windows
/.vs/ProjectEvaluation
/Menu/obj
